*.pdf
*.Rhistory
.Rhistory
.RData*
.Rproj.user
archive/
data/
docs/example_*
docs/wgbs.nf
*.tar.gz
pipeline_files/
renv/
.drake/
TEST/
*.RData
pipeline_files/*
slurm/
results/
transfer.zip
*./vanloo-main/
code/**/*.png
code/**/*.stats
code/**/*.bigWig
code/*/*
camdac_paper/
*.drawio
*.docx
.DS_Store
.here
.Rprofile
man/
inst/doc
*.json
temp/
wgbs_test/
test_*.R
.lintr
*.code-workspace
*dev.md
tests/testthat/result*
local/
wgbs_asm/
test_wgbs_asm/
